/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require_self
 *= require signup
 *= require account
 *= require entry
 */

 .g-btn {
  border-radius:2px;
  color:white;
  padding-right:20px;
  padding-left:20px;
}

.circle
{
  width:30px;
  height:30px;
  border-radius:50px;
  font-size:20px;
  color:#c0c0c0;
  line-height:100px;
  text-align:center;
  background:#c0c0c0;
}

.signup-progress {
  width:100%;
}

.inner-signup-progress {
  width:50%;
  margin: 0 auto;
}

.g-btn-blue {
  background-color:#4d90fe;
  border-color:#4d90fe;
  color:white;
}

.g-btn-blue:hover {
  background-color:#4d90fe;
  border-color:#4d90fe;
  color:white;
}

.g-btn-green {
  background-color:#6abc44;
  border-color:#6abc44;
  color:white;
}

.g-btn-green:hover {
  background-color:#6abc44;
  border-color:#6abc44;
  color:white;
}

.g-btn-red {
  background-color:#dd4b39;
  border-color:#dd4b39;
  color:white;
}

.g-btn-red:hover {
  background-color:#dd4b39;
  border-color:#dd4b39;
  color:white;
}

.grey-text {
  color:#c0c0;
}

nav {
  padding-top:15px;
  padding-bottom:15px;
  background-color:white;
}

.navbar-custom{
  min-height: 90px;
}

.navbar-nav.navbar-right:last-child {
  margin-right:13%;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left:13%;
  position:absolute;
  margin-top:-10px;
}


#banner {
  background: url('/assets/img/background.jpg') left top no-repeat;
  width: 100%;
  height: 60%;
  background-position: center;
  background-size: cover;
  position:fixed; 
  top:auto; 
  left:0px; 
  z-index:900; 
  overflow-y:hidden; 
  overflow-x:hidden; 
    margin:auto;/*
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);*/
  }

  #content {
    padding-top:5%;
    padding-left:15%;
  }

  .content-wrapper {
    margin: 90px;

  }

  h1, h2, h3 {
    font-family: 'Roboto Condensed';
  }

  #header-text, #subheader-text {
    color:white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
  }


  #avail-div {
    padding:7px 15px 7px 15px;
    color:white;
    margin-top:50px;
    font-size:1.2em;
    display:inline-block;
    position:relative;
  }

  #avail-div::after {
    content: "";
    border-radius:5px;
    background-color:black;
    opacity: 0.35;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  #subdomain-input {
    max-width:120px;
    color:black;
    padding-left:5px;
  }

  #check-avail-btn {
    margin-left:40px;
  }

  @media screen and (min-width: 350px) and (max-width: 760px){
    #banner {
      height:100%;
    }
    #content {
      text-align:center;
    }
    #subdomain-input {
      width:120px;
    }
    #avail-div {
      display:block;
    }
  }
  /* Mobile LD */
  @media screen and (max-width: 350px){
   #banner {
    height:100%;
  }
  #content {
    text-align:center;
  }
  #subdomain-input {
    width:120px;
  }
  #avail-div {
    display:block;
  }
} 

#value {
  position:absolute;
  margin-top:35%;
  width:100%;
  text-align:center;
}

.red-text {
  color:#dd4b39;
  font-family: arial;
}

.blue-text {
  color:#4d90fe;
  font-family: arial;
}

.green-text {
  color:#6abc44;
  font-family: arial;
}

.value-content {
  color:#c0c0c0;
}

.arial {
  font-family:arial;
  font-weight:100;
}

#card-input {
  width:250px;
}

#ccv-input {
  width:120px;
}

#cvv-form-group {
  margin-left:40px;
}

#feedback-div {
  font-family: arial;
  font-size: 20px;
}
